[submodule "firmware/thirdparty/OpenPLC_v3"]
	path = firmware/thirdparty/OpenPLC_v3
	url = https://github.com/thiagoralves/OpenPLC_v3.git
[submodule "firmware/thirdparty/libcanard"]
	path = firmware/thirdparty/libcanard
	url = https://github.com/UAVCAN/libcanard.git
[submodule "firmware/thirdparty/o1heap"]
	path = firmware/thirdparty/o1heap
	url = https://github.com/pavel-kirienko/o1heap.git
[submodule "firmware/thirdparty/nanopb"]
	path = firmware/thirdparty/nanopb
	url = https://github.com/nanopb/nanopb.git
